.borda{
    border: 1px solid red;
}
.post{
    span{
        font-weight: 900;
    }
    img{
        object-fit: cover;
        max-height: 20em;
    }
}
.animation{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}