body {
  margin: 0;
  font-family: 'Serenata Vantages', sans-serif;
  font-family: 'Serenata Vantages Light', sans-serif;
}
button.navbar-toggler, button.navbar-toggler:focus{
  outline: none;
  box-shadow: none;
  border: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
